<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ERP Editors Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" media="screen"/>
    <link href='@Url.Content("~/Content/erp.css")' rel="stylesheet" media="screen"/>

<style>


  .alter-backgound:nth-child(2n+1) {
       background-color: #dff0d8;
    }


     #spinnerImage {
          display: none;
     }

     .popup-content-box{
      background-color: white;
      position: fixed;
      margin: 0px auto;
      top: 50%;
      left: 50%;
      z-index: 11;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
</style>


</head>






<body>

    @{
        if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
               @Html.AntiForgeryToken();
            }
        }
    }

    <header>


        <div id="SpinnerContainer" class="popup-content-box">
             <img src="~/Images/spinner.gif" id="spinnerImage" title="working..." />
        </div>


        <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
            <div class="col-lg-3">
                 <h5><span id="pgTtl">@ViewBag.PageTitle</span></h5>  
            </div>
            <div class="col-lg-4">
                 <h3><span ></span></h3>  
            </div>
            <div class="col-lg-5">

                <nav class="navLinks" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                       

                         @if (Roles.IsUserInRole(EditorsCommon.Constants.roleNameChiefEditor) ||  Roles.IsUserInRole(EditorsCommon.Constants.roleNameAdmin))
                            {
                              <li class="">@Html.ActionLink("Editor-in-Chief", "Index", "ChiefEditor")</li>                        
                            }

                         @if (Roles.IsUserInRole(EditorsCommon.Constants.roleNameReviewer) )
                            {
                              <li class="">@Html.ActionLink("Reviewer", "Index", "Reviewer")</li>
                            }
                         @if (Roles.IsUserInRole(EditorsCommon.Constants.roleNameEditor) )
                            {
                              <li class="">@Html.ActionLink("Editor", "Index", "EditorArea")</li>
                            }
                         @if ( Roles.IsUserInRole(EditorsCommon.Constants.roleNameSubEditor))
                            {
                              <li class="">@Html.ActionLink("Proofreader", "Index", "ProofreaderArea")</li>
                            }

                         @if ( Roles.IsUserInRole(EditorsCommon.Constants.roleNameAdmin))
                            {
                              <li class="">@Html.ActionLink("Admin", "Index", "Admin")</li>
                            }

                        <li class="">
                            @if (Request.IsAuthenticated)
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                            else
                            {
                                @Html.ActionLink("Log In", "Login", "Account")
                            }
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>

    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <!--left nav-->
            @if(IsSectionDefined("LeftMenu")){
                @RenderSection("LeftMenu", required: false)
            }else{
              <div class="col-sm-2">
                        <div class="list-group">
                            <a class="list-group-item active" href="/chiefeditor/Index">Publications</a>
                            <a class="list-group-item" href="/Home/ShowTemporaryPage">Reviewers</a>
                            <a class="list-group-item" href="/Home/ShowTemporaryPage">Producer Profile</a>
                            <a class="list-group-item" href="/Home/ShowTemporaryPage">Vintage Profile</a>
                            <!-- <a class="list-group-item" href="/Admin/Producers">Producers</a> -->
                            <a class="list-group-item" href="/Home/ShowTemporaryPage">Wines</a>
                            <a class="list-group-item" href="/Home/ShowTemporaryPage">Search Articles</a>
                            <!-- <a class="list-group-item" href="/Admin/Wines">Wine Type</a> -->
                            <!-- <a class="list-group-item" href="/Admin/Wines">Wine Variety</a> --> 
                        </div>
                </div>
            }


            <!-- main content-->
            <div class="col-sm-10">
                <div id="body" class="container-fluid">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                    </section>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer_content">
            <div style="max-width: 600px; margin: 0 auto; text-align: center">
                eRobertParker.com<sup>SM</sup> is a service of The Wine Advocate, Inc, 
                        Email: <a href="mailto:info@erobertparker.com">info@erobertparker.com</a><br />
                Copyright © 2001-2013  - The Wine Advocate, Inc.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/erp")


<script type="text/javascript">
    //
    // this is global setting. could be used in js file while calling ajax get/post
    //
    erp.wsf_path = '@Url.Content("~/")';
</script>

    @RenderSection("scripts", required: false)


</body>
</html>
