

<div class="col-sm-2" id="page-left-menu">
            <div class="list-group">
                <a class="list-group-item" id="dashboard" href='@Url.Content("~/Admin/Index")'>Dashboard</a>
                <a class="list-group-item" id="producers" href='@Url.Content("~/Admin/Producers")'>Producers</a>
                <a class="list-group-item" id="importers" href='@Url.Content("~/Admin/Importers")'>Importers</a>
                <a class="list-group-item" id="producers_importers" href='@Url.Content("~/Admin/ProducersImporters")'>Producers & Importers</a>
                <a class="list-group-item" id="users" href='@Url.Content("~/Admin/Users")'>Users</a>
                <a class="list-group-item" id="wines" href='@Url.Content("~/Admin/Wines")'>Wines</a>
            </div>
</div>