
@{
    ViewBag.Title = "Wines";
    ViewBag.PageTitle = "ADMIN DASHBOARD: Wines";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}




@section LeftMenu{
   @Html.Partial("_AdminMenuPartial")
 }


<h2>Wines</h2>

<div data-bind="template: { name: mv().view, data: mv().model, afterRender: $root.modelInit } "></div>

<div id="dialog-placeholder" data-bind="  template: { name: dmv().view, data: dmv().model, afterRender: $root.dialogInit }"></div>

<div id="error-dialog-placeholder" data-bind="  template: { name: dmvError().view, data: dmvError().model, afterRender: $root.errorDialogInit }"></div>



@section scripts {

    <script  src="~/Scripts/models/PageDataModel.js"></script>



    <script id="search-wine-template" type="text/html">

         <div class="row">
            <div class="col-sm-4  input-group-md">
                <input type="text" 
                    data-bind="event: { keyup: searchWithEnter },value: searchString, valueUpdate: 'blur'" 
                    class="form-control" 
                    id="note-edit-producer-search" 
                    placeholder="Search String" required />
            </div>
            <div class="col-sm-1 input-group-md">
                <button class="btn btn-sm" data-bind="click: search" >Search</button>
            </div>


            <div class="col-sm-2">
                <select class="form-control input-sm col-sm-4" data-bind="options: stateGroups,
                optionsText: 'name',
                optionsValue: 'id',
                value: stateGroupId,
                valueUpdate: 'blur'">

                </select>
            </div>

        </div>
        <br />

        <div class="row""  style="border-bottom: solid 1px gray;">
            <div class='col-sm-8' >Wine definition</div>
            <div class='col-sm-3' >Vintages</div>
        </div>

        <div class="row" style="height: 650px; overflow:auto">



            <!-- ko foreach: items -->
            <div class="row"  style="border-bottom: solid 1px gray;">
                <div class='col-sm-8' >
<!--
                        <span class='glyphicon glyphicon-pencil' data-bind="click: edit"  style="cursor:pointer" title="Edit VIN" ></span>

                        (<span data-bind="text: id"></span>) 
                        <span  data-bind="style : {color:erp.utils.statusColor($data.workflow())}">
                        <b> 
                           <span data-bind="text: producer, style : {color:erp.utils.statusColor($data.workflow())}"></span>
                           <span data-bind="text: label"></span>
                        </b>
                        </span>, 
                        <span data-bind="text: country"/>,
                        <span data-bind="text: region"/>,
                        <span data-bind="text: location"/>,
                        <span data-bind="text: locale"/>,
                        <span data-bind="text: site"/>,
                        <span data-bind="text: variety"></span>, 
                        <span data-bind="text: colorClass"></span>, 
                        <span data-bind="text: dryness"></span>
-->
                    <div class="row">
                        <div class='col-sm-2'><span class='glyphicon glyphicon-pencil' data-bind="click: edit"  style="cursor:pointer" title="Edit VIN" ></span>
                           (<span data-bind="text: id"></span>) 

                         </div>
                        <div class='col-sm-10'>
                           <span  data-bind="style : {color:erp.utils.statusColor($data.workflow())}">
                           <b> 
                           <span data-bind="text: producer, style : {color:erp.utils.statusColor($data.workflow())}"></span>
                           <span data-bind="text: label().length == 0 ? '' : ', ' + label()"/>
                           </b>
                           </span> 
                         </div>
                    </div> 
                    <div class="row">
                        <div class='col-sm-2'>&nbsp;
                         </div>
                        <div class='col-sm-10'>
                            <span data-bind="text: country"/>
                            <span data-bind="text: region().length == 0 ? '' : ', ' + region()"/>
                            <span data-bind="text: location().length == 0 ? '' : ', ' + location()"/>
                            <span data-bind="text: locale().length == 0 ? '' : ', ' + locale()"/>
                            <span data-bind="text: site().length == 0 ? '' : ', ' + site()"/>
                        </div>
                    </div> 
                    <div class="row">
                        <div class='col-sm-2'>&nbsp;
                         </div>
                        <div class='col-sm-10'>
                            <span data-bind="text: variety"></span>, 
                            <span data-bind="text: colorClass"></span>, 
                            <span data-bind="text: dryness"></span>
                         </div>
                    </div> 

                  <!-- ko if:  $data.rfc   -->
                   <div class="row">
                        <div class='col-sm-2'>
                            RFC
                            &nbsp;&nbsp;<span class='glyphicon glyphicon-thumbs-down' data-bind="click: $parent.deleteRFC"  style="cursor:pointer; color: red" title="delete RFC" ></span>
                            &nbsp;&nbsp;<span class='glyphicon glyphicon-thumbs-up' data-bind="click: $parent.approveRFC"  style="cursor:pointer; color : green" title="approve RFC" ></span>
                        </div>
                         <div class='col-sm-10'>
                           <span >
                           <b> 
                           <span data-bind="text: rfc.producer, style : {color: producer() != rfc.producer() ? 'red' : 'black'}"></span>
                           <span data-bind="text: rfc.label().length == 0 ? '' : ', ' + rfc.label(), style : {color: label() != rfc.label() ? 'red' : 'black'}"/>
                           </b>
                           </span> 
                         </div>
                       <div class="row">
                            <div class='col-sm-2'>&nbsp;
                             </div>
                            <div class='col-sm-10'>
                                <span data-bind="text: rfc.country, style : {color: country() != rfc.country() ? 'red' : 'black'}"/>
                                <span data-bind="text: rfc.region().length == 0 ? '' : ', ' + rfc.region(), style : {color: region() != rfc.region() ? 'red' : 'black'}"/>
                                <span data-bind="text: rfc.location().length == 0 ? '' : ', ' + rfc.location(), style : {color: location() != rfc.location() ? 'red' : 'black'}"/>
                                <span data-bind="text: rfc.locale().length == 0 ? '' : ', ' + rfc.locale(), style : {color: locale() != rfc.locale() ? 'red' : 'black'}"/>
                                <span data-bind="text: rfc.site().length == 0 ? '' : ', ' + rfc.site(), style : {color: site() != rfc.site() ? 'red' : 'black'}"/>
                            </div>
                        </div> 
                        <div class="row">
                            <div class='col-sm-2'>&nbsp;
                             </div>
                            <div class='col-sm-10'>
                                <span data-bind="text: rfc.variety, style : {color: variety() != rfc.variety() ? 'red' : 'black'}"></span>, 
                                <span data-bind="text: rfc.colorClass, style : {color: colorClass() != rfc.colorClass() ? 'red' : 'black'}"></span>, 
                                <span data-bind="text: rfc.dryness, style : {color: dryness() != rfc.dryness() ? 'red' : 'black'}"></span>
                             </div>
                        </div> 


                    </div>
                    <!-- /ko -->

                </div>
               <div class='col-sm-3' >
            <!-- ko foreach: wines -->
                 <span  data-bind="text: vintage, style : {color:erp.utils.statusColor($data.workflow())}"></span>
            <!-- /ko -->
               </div>
               <div class='col-sm-1' >
                  <button class="btn btn-primary btn-xs" style="cursor:pointer" data-bind="click : approve, visible : needApprove() == true">Approve</button>
               </div>
            </div>
            <!-- /ko -->

        </div>
    </script>



    <script id="vin-edit-template" type="text/html">
        <div class="row">
            <div class="col-sm-2  input-group-md">
                Producer
            </div>
            <div class="col-sm-5 input-group-md">
              <input type="text" 
                    data-bind="value: producer, valueUpdate: 'blur'" 
                    class="form-control" 
                    name="vin-edit-producer" 
                    id="vin-edit-producer" 
                    placeholder="Producer" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2  input-group-md">
                Label
            </div>
            <div class="col-sm-5 input-group-md">
              <input type="text" 
                    data-bind="value: label, valueUpdate: 'blur'" 
                    class="form-control" 
                    name="vin-edit-label" 
                    id="vin-edit-label" 
                    placeholder="Label" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2  input-group-md">
                Wine Type
            </div>
            <div class="col-sm-5 input-group-md">
               <select  name="vin-edit-color"
                    class="form-control"
                    data-bind="options: wineTypeLookup,
                    optionsText: 'name',
                    optionsValue: 'name',
                    value: wineType,
                    valueUpdate: 'blur'" required></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2  input-group-md">
                Variety
            </div>
            <div class="col-sm-5 input-group-md">
              <input type="text" 
                    data-bind="value: variety, valueUpdate: 'blur'" 
                    class="form-control" 
                    name="vin-edit-variety" 
                    id="vin-edit-variety" 
                    placeholder="Variety" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2  input-group-md">
                Color
            </div>
            <div class="col-sm-5 input-group-md">
            <select  name="vin-edit-color"
                    class="form-control"
                    data-bind="options: wineColorLookup,
                    optionsText: 'name',
                    optionsValue: 'name',
                    value: colorClass,
                    valueUpdate: 'blur'" required></select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2  input-group-md">
                Dryness
            </div>
            <div class="col-sm-5 input-group-md">

            <select  name="vin-edit-dryness"
                    class="form-control"
                    data-bind="options: wineDrynessLookup,
                    optionsText: 'name',
                    optionsValue: 'name',
                    value: dryness,
                    valueUpdate: 'blur'" required></select>


            </div>
        </div>


      <div class="row">
            <label class="col-sm-2 control-label">Country:</label>
            <div class="col-sm-5">
                <input type="text" 
                    id="vin-edit-location-country" data-bind="value: country, valueUpdate: 'blur'" class="form-control" placeholder="Country" />
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Region:</label>
            <div class="col-sm-5">
                <input type="text" id="vin-edit-location-region" data-bind="value: region, valueUpdate: 'blur'" class="form-control" placeholder="Region" />
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-5">
                <input type="text" id="vin-edit-location-location" data-bind="value: location, valueUpdate: 'blur'" class="form-control" placeholder="Location"/>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Locale:</label>
            <div class="col-sm-5">
                <input type="text" id="vin-edit-location-locale" data-bind="value: locale, valueUpdate: 'blur'" class="form-control" placeholder="Locale" />
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Site:</label>
            <div class="col-sm-5">
                <input type="text" id="note-edit-location-site" data-bind="value: site, valueUpdate: 'blur'" class="form-control" placeholder="Site" />
            </div>
        </div>


    </script>


<script type="text/javascript">






    function VinModel(src) {
        var self = this;



        self.wineColorLookup = [
                  { id: 0, name: '' },
                  { id: 1, name: 'Red' },
                  { id: 2, name: 'Rose' },
                  { id: 3, name: 'White' },
        ];


        self.wineDrynessLookup = [
            { id: 0, name: '' },
            { id: 1, name: 'Dry' },
            { id: 2, name: 'Medium Dry' },
            { id: 3, name: 'Sweet' },
            { id: 4, name: 'Very Dry' },
        ];



        self.wineTypeLookup = [
            { id: 0	, name: '' },
            { id: 9, name: 'Table' },
            { id: 1	, name: 'Dessert' },
            { id: 2	, name: 'Fortified' },
            { id: 3	, name: 'Madeira' },
            { id: 4	, name: 'Port' },
            { id: 5	, name: 'Sake' },
            { id: 6	, name: 'Sherry' },
            { id: 7	, name: 'Sparkling' },
            { id: 8	, name: 'Sweet' }
        ];




        self.toObject = function () {
            var o = ko.mapping.toJS(self);
            return o;
        }

        self.fromObject = function (o) {
            ko.mapping.fromJS(o,
                {

                }, self);
        }

        //
        //
        //
        if (src)
            self.fromObject(src);



        self.coAppellation = ko.computed(function () {
            if (self.site && self.site() && self.site().length > 0) return self.site();
            if (self.locale && self.locale() && self.locale().length > 0) return self.locale();
            if (self.location && self.location() && self.location().length > 0) return self.location();
            if (self.region && self.region() && self.region().length > 0) return self.region();
            if (self.country && self.country() && self.country().length > 0) return self.country();
            return '';
        }, self);



        self.needApprove = function(){
            if( self.workflow() < 100 )
                return true;

            for(var i =0; i < self.wines().length; i++){
                if( self.wines()[i].workflow() < 100 ){
                    return true;
                }
            }

            return false;
        }

        self.approve = function(){
            

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Vin/ApproveVinN")',
                data:
                    {   id: self.id()},
                success: function (result) {

                    if(result > 0 ){

                        self.workflow(100);
                        
                        for(var i =0; i < self.wines().length; i++){
                            if( self.wines()[i].workflow() < 100 ){
                                self.wines()[i].workflow(100);
                            }
                        }

                    }
                },
                error: function (request, status, error) {

                    alert("server error. report to admin");

                }
               });

        }





        self.edit = function(item){

            var m = new VinModel( item.toObject());
 
            m.init = function (elements) {
            };

            m.validate = function () {
                return true;
            }


            m.save = function (o) {


                if( !window.confirm("Do you want save changes?")){
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/vin/Update")',
                    data:
                        {
                            str: JSON.stringify(o.toObject())
                        },
                    success: function (r) {
                        if (r)
                            item.fromObject(r);
                    },
                    error: function (request, status, error) {
                        alert("There is an error on the server while executing this operation.\nPlease report to admin.");
                    }
                });


                return true;
            };


            var d = pageData.OpenDialog(m, m, "vin-edit-template");
            d.dialog("option", "title", "Edit Vin").
                dialog("option", "width", 860).
                dialog("option", "height", 600);
            ;
        }




    }


    function WinesPageModel() {
        var self = this;

        self.items = ko.observableArray();
        self.searchString = ko.observable();





        self.deleteRFC = function(item){
            if( !window.confirm("Do you want delete this RFC?")){
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/vin/DeleteRFC")',
                data:
                    {
                        str: JSON.stringify(item.toObject())
                    },
                success: function (r) {
                    if (r){
                        item.fromObject(r);

                        var tmp = self.items();
                        self.items([]);
                        self.items(tmp);

                    }
                },
                error: function (request, status, error) {
                    alert("There is an error on the server while executing this operation.\nPlease report to admin.");
                }
            });
        }

        self.approveRFC = function(item){
            if( !window.confirm("Do you want approve this RFC?")){
                return false;
            }
 
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/vin/ApproveRFC")',
                data:
                    {
                        str: JSON.stringify(item.toObject())
                    },
                success: function (r) {
                    if (r){

                        var result = new VinModel(r);
                        var ndx    = self.items().indexOf(item);
                        
                        if( ndx >=0  ){
                            self.items()[ndx] = result;
                        }

                        //item.fromObject(r);

                        var tmp = self.items();
                        self.items([]);
                        self.items(tmp);
                    }
                },
                error: function (request, status, error) {
                    alert("There is an error on the server while executing this operation.\nPlease report to admin.");
                }
            });
        }



        self.searchWithEnter = function (data, event) {
            if ((event.keyCode == 13 || event.keyCode == "13")) {
                self.search();
            }
            return true;
        }


        self.search = function () {

            $.get('@Url.Content("~/vin/SearchWineN")', { term: self.searchString(), state : self.stateGroupId() },
                                 function (result) {

                                     var t = ko.mapping.fromJS(
                                         { 'children': result },
                                         {
                                             'children':
                                                {
                                                    create: function (options) {
                                                        var result = new VinModel(options.data);
                                                        return result;
                                                    }
                                                }
                                         }, {});


                                     if( t.children().length == 1000 ){
                                         alert("response has only first 1000 Vins");
                                     }

                                     self.items(t.children());
                                 });
        }

        self.stateGroupId = ko.observable(0);
        self.stateGroups = ko.observableArray();


        self.initOnce = false;
        self.init = function () {

            if( ! self.initOnce ){

                self.stateGroups([
                   {name:'ALL',id:@EditorsCommon.WorkFlowState.STATE_GROUP_ALL},
                   {name:'In Process',id:@EditorsCommon.WorkFlowState.STATE_GROUP_IN_PROCESS},
                   {name:'Published',id:@EditorsCommon.WorkFlowState.STATE_GROUP_PUBLISHED},
                   {name:'RFC',id:@EditorsCommon.WorkFlowState.STATE_RFC},
                ]);

                  self.stateGroupId(@EditorsCommon.WorkFlowState.STATE_GROUP_ALL);
                  self.initOnce = !self.initOnce;
                }

            }
    }




    var PAGE_CONTEXT = {};

    var pageData = new PageData();

    pageData.init = function () {
    }

    ko.applyBindings(pageData);

    PAGE_CONTEXT.sortByOptions =
        [
            { name: 'Producer', id: 0 },
            { name: 'Label', id: 1 },
            { name: 'Vintage', id: 2 }
        ];

    PAGE_CONTEXT.sortByOptionsVin =
        [
            { name: 'Producer', id: 0 },
            { name: 'Label', id: 1 },
        ];


    function wineColor(color) {
        if (color == "Red" || color == "red")
            return 'maroon';

        if (color == "White" || color == "white")
            return 'yellow';

        if (color == "Rose" || color == "rose")
            return 'red';

        return 'maroon';
    };



    $(document).ready(function () {

        $("#dialog-placeholder").dialog({
            autoOpen: false,
            height: 500,
            width: 800,
            modal: true,
            buttons: {
                "Save Changes": function () {

                    if (pageData.CloseDialog()) {
                        $(this).dialog("close");
                    }
                },
                Cancel: function () {
                    pageData.CancelDialog();
                    $(this).dialog("close");
                }
            },
            close: function () {
            }
        });


        $("#error-dialog-placeholder").dialog({
            autoOpen: false,
            height: 500,
            width: 800,
            modal: true,
            buttons: {
                Close: function () {
                    pageData.CancelErrorDialog();
                    $(this).dialog("close");
                }
            },
            close: function () {
            }
        });


        pageData.init();
        pageData.drillDown('search-wine-template', new WinesPageModel());

        $("#page-left-menu #wines").addClass("active");


    });

</script>

}